.thememattic-about-wrap .thememattic-section .dashicons {
	margin-top: -4px;
	vertical-align: middle;
}

.thememattic-about-wrap .nav-tab {
	font-size: 16px;
}

.thememattic-about-wrap h1 {
	font-size: 2em;
}

.thememattic-about-wrap h3 {
	font-size: 1.2em;
}

.thememattic-about-wrap .thememattic-section-useful-plugins,
.thememattic-about-wrap .thememattic-section-upgrade-to-pro,
.thememattic-about-wrap .thememattic-section-demo-content {
	margin-top: 50px;
}

.thememattic-about-wrap .tab-upgrade-to-pro {
	background-color: #bf2424;
	background-color: #159614;
	color: #FFF;
}

.thememattic-about-wrap .wp-badge {
	background-image: url('../images/logo.png');
	background-color: #FFF;
	background-size: 110px auto;
	background-position: center;
	height: 70px;
}

.thememattic-about-wrap .quick-links a {
	margin-right: 5px;
}

.thememattic-about-notice .btn-dismiss {
	margin-left: 20px;
}

.thememattic-about-wrap .plugin-list {
	list-style-position: inside;
	list-style-type: disc;
}
